*{
  margin:0;
  padding:0;
}
html{
  font-size: 16px;
  font-weight:400;
}
body{
  background-color:#ffffff;
  color:#3b1c32;
  width: 100vw;
  height:1000%;
  position:relative;
}
#headBody{

  text-align: center;
  height:50px;
  position: relative;
}
#Quotify{
  border-bottom: 1px solid black;
  width:150px;
  height: 90%;
  position: absolute;
  left: 45%
}
#box{
  /* border:1px solid; */
  position:relative;
  top: 110px;
  left: 270px;
  width: 50rem;
  height: 270px;
  padding:10px;
  overflow:hidden;
  margin-top:20px

}
#randomQuoteBox{
  border:.4px solid black;
  width:90%;
  height:50%;
  position:absolute;
  top:20px;
  left:15px;
  border-radius:10px;
  box-shadow:1px 15px 20px rgba(0,0,0,0.4);
  background-color:	#ffffff;
  padding:10px 20px 30px 20px;
  text-align:center;


 }
 #randomQouteBtn{
   position:absolute;
   top:240px;
   left:370px;
   width:100px;
   height:45px;
   border-radius:5px;
   background-color:rgba(0,0,0,0.9);
   color:white;
   padding:10px px 20px 20px;
   border:.4px solid black
 }
#box #randomQuoteBox h3{
/*   padding:25px; */
  font-family: 'Frank Ruhl Libre', serif;
  font-weight:500;
  color:#1b1b1b;
  font-size:23px;


}


#headerBody{

  display:flex;
  position:fixed;
  flex-flow:column;
  height:55%;
  left:20px;
  justify-content:space-around;
  top:120px;
  text-align:center;



}
#headerBody a {

  padding:10px;
  text-decoration:none;
  color:#404040;
  box-shadow:5px 5px 5px rgba(0,0,0,0.4)
}
#headerBody a::after{
/*   content:""; */
  background-color:rgba(0,0,0,0.4);
  width:80px;
  height:2px;
  display:block;
  position:absolute;
/*   top:80px; */
  left:40px;
  margin-top:40px


}
#logo{
  width:10%;
  position:absolute;
  /* border:1px solid; */
  text-align:center;
  padding:10px;
  left:20px
}
#logo h1{
  border:1px solid black;
  padding:5px;
  width:30%;
  margin-left:40px;
  background-color:black;
  color:whitesmoke;

}
#logo h1::before {
  content: open-quote;
  color:black;
  font-size: 28px;
  position: absolute;
  left: 51px;
  top:10px;
  color:white


}
#logo h1::after {
  content:close-quote;
  color:black;
  font-size: 28px;
  position: absolute;
  right: 55px;
  top: 40px;
  color:white;

}
#titlebody{
  position:absolute;
 left:220px;;
 top:200px;
/*  border:1px solid; */
 width:70%;
 height:40%;
 text-align:center;

}
#titlebody h1{
  line-height:1.2em;
  letter-spacing:.2rem;
  font-size:35px;
  color:black;
  margin-right:40px;
  animation:moveInLeft 2s ease-out
}
#titlebody p{
  margin-top:20px;
  margin-bottom:20px;
  font-size:40px;
  animation:moveInRight 2s ease-out
}
#titlebody em{
  margin-top:20px;
  font-size:30px;
  animation: 2s ease-out
}

@keyframes moveInLeft {
  0%{
   opacity:0;
   transform: translateX(-100px);
  }
  80%{
    transform: translateX(20px);
  }
  100%{
   opacity:1;
   transform: translateX(0px);
  }
}

@keyframes moveInRight {
  0%{
   opacity:0;
   transform: translateX(100px);
  }
  80%{
    transform: translateX(-20px);
  }
  100%{
   opacity:1;
   transform: translateX(0px);
  }
}

@keyframes moveStraight {
  0%{
   opacity:0;
   transform: translateX(50px);
  }
  80%{
    transform: translateX(-3px);
  }
  100%{
   opacity:1;
   transform: translateX(0px);
  }
}
  #savedIcon a {
 position:relative;
 right:-200px;
 top:150px;;
/*  border:1px solid; */
 width:130px;
 font-size:40px;
 float:left;
 color: black;
 animation: moveStraight 3s ease-out;

  }
  #savedIcon  span{
    position:absolute;
    top:40px;
    right:90px;
    font-size:20px

  }
  #savedIcon i{
    animation-delay: 3s
  }
  #localquote{
    position: relative;
    top: 90px;
    left: 290px;
    width: 50rem;
    height: 45%;
    padding:10px;
    overflow:hidden;
  }
  #localquote .localItem{
    border:.4px solid black;
    width:90%;
    height:50%;
/*     position:absolute; */
    top:20px;
    left:15px;
    border-radius:10px;
    box-shadow:1px 15px 20px rgba(0,0,0,0.4);
    background-color:	#ffffff;
    padding:10px 20px 30px 20px;
    text-align:center;
  }
  #localquote .localItem .localText{
    font-family: 'Frank Ruhl Libre', serif;
    font-weight:500;
    color:#1b1b1b;
    font-size:23px;
  }
  #formBox{
/*   border:1px solid; */
  position:relative;
  top:90px;
  left:320px;
  width:50%;
  height:350px
}
#formHandle{
/*   border:1px solid; */
  height:100%
}
#area{
  display:block;
  position:absolute;
  left:130px;
  top:20px;
  width:450px;
  box-shadow:10px 10px 10px 0px rgba(10,50,760,0.6);
  border:none;
  border-radius:5px;
  background-color:black;
  color:white;
  padding:10px
}

::-webkit-input-placeholder {
   text-align: center;
   font-family:'Pacifico', cursive;
   color:white
}
#author{
  position:absolute;
  left:135px;
  top:200px;
  width:260px;
  height:40px;
  box-shadow:10px 10px 10px 0px  rgba(10,50,760,0.6);
  border:none;
  border-radius:5px;
  background-color:black;
  color:white;


}
#submitbtn{
  position:absolute;
  top:280px;
  left:133px;
  width:77px;
  border:none;
  padding:5px;
  font-size:16px;
  font-family: 'Pacifico', cursive;
  background-color:#0b3142;
  color:white
/*   text-transform:uppercase */
}
.noquote{
  position: relative;
  left:330px;
  color:red;
  
}